DATABASE_DRIVER=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USERNAME=exampleuser
DATABASE_PASSWORD=examplepassword
DATABASE_NAME=exampledb
POSTGRES_USER=exampleuser
POSTGRES_DB=exampledb
POSTGRES_PASSWORD=examplepassword
PGADMIN_DEFAULT_EMAIL=email@email.com
PGADMIN_DEFAULT_PASSWORD=password
